<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/stylesheets/main.css")
        block styles

    body   
        .backdrop
        header.main-header
            button#side-menu-toggle Menu
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href='/' class= (path === '/' ? 'active' : '') ) Shop
                    li.main-header__item
                        a(class= (path=== '/products' ? 'active' : '') href='/products') Products
                    li.main-header__item
                        a(class=(path === '/cart' ? 'active' : '' ) href='/cart') Cart
                    li.main-header__item
                        a(class=(path === '/orders' ? 'active' : '' ) href='/orders') Orders
                    li.main-header__item
                        a(class=(path === '/admin/add-product' ? 'active' : '' ) href='/admin/add-product')
                            | Add Product
                    li.main-header__item
                        a.path(class="<%= === '/admin/products' ? 'active' : '' %>" href='/admin/products')
                            | Admin Products
            nav.mobile-nav
                ul.mobile-nav__item-list
                    li.mobile-nav__item
                        a.path(class="<%= === '/' ? 'active' : '' %>" href='/') Shop
                    li.mobile-nav__item
                        a.path(class="<%= === '/products' ? 'active' : '' %>" href='/products') Products
                    li.mobile-nav__item
                        a.path(class="<%= === '/cart' ? 'active' : '' %>" href='/cart') Cart
                    li.mobile-nav__item
                        a.path(class="<%= === '/orders' ? 'active' : '' %>" href='/orders') Orders
                    li.mobile-nav__item
                        a.path(class="<%= === '/admin/add-product' ? 'active' : '' %>" href='/admin/add-product')
                            | Add Product
                    li.mobile-nav__item
                        a.path(class="<%= === '/admin/products' ? 'active' : '' %>" href='/admin/products')
                            | Admin Products

            //- end navigation
            //- nav.main-header__nav
            //-     ul.main-header__item-list
            //-         li.main-header__item
            //-             a(href="/", class=(path === '/' ? 'active' : '')) Shop
            //-         li.main-header__item
            //-             a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Product
        block content
        //- end
        script(src='/js/main.js')
