extends ../includes/layout.pug

block content
    main
        if products.length > 0
            ul
                each prod in products
                    li  
                        p= prod.productData.title +"   ("+ prod.qty+")"
                        form(action="/cart-delete-item" method="POST")
                            input(type="hidden" value=prod.productData.id name="prodId")
                            button.btn(type="submit") Delete
        else
            h1 No Products in Cart!
